{% extends 'teampicker/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}

{% block details %}
    <h2>Crowd Detail: {{ object.name }}</h2>

    <dl class="dl-horizontal">
        <dt>Name:</dt><dd>{{ object.name }}</dd>
        <dt>Created at:</dt><dd>{{ object.created_at }}</dd>
        <dt>Description:</dt><dd>{{ object.description|default:"-" }}</dd>
        <dt>Teams:</dt><dd>{{ object.num_teams }}</dd>
        <dt>Join URL:</dt>
        <dd>
            <a href="{{ crowd.my_teams_url }}">Link</a>&nbsp;
            <i class="far fa-copy copy-to-clipboard" title="Copy URL to clipboard" data-url="{{ crowd.my_teams_url }}"></i>
        </dd>
    </dl>

    <a class="btn btn-danger" href="{% url 'teampicker:crowd-delete' crowd.pk %}" title="Delete this crowd">Delete</a>
    <a class="btn btn-warning" href="{% url 'teampicker:crowd-clear' crowd.pk %}" title="Kick all team members">Clear</a>
    <button id="refresh-button" class="btn btn-default"><i class="fas fa-sync-alt"></i></button>

    <h4>Teams</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th># Members</th>
                <th>Members</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.members.count }}</td>
                    <td>
                        <ul>
                            {% for member in team.members_sorted %}
                                <li>{{ member.name }}</li>
                            {% empty %}
                                <li class="text-warning">EMPTY</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>TOTALS</th>
                <th>{{ object.num_members }}</th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>

{% endblock %}

{% block extra_css %}
    <style>
        .dl-horizontal dt {
            text-align: left;
            width: 8em;
        }

        .dl-horizontal dd {
            margin-left: 8em;
        }
        .copy-to-clipboard:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block extra_javascript %}
    <script>
        $(document).ready(function () {
            $('#refresh-button').click(function (event) {
                window.location.reload();
            });
            $('.copy-to-clipboard').click(function (event) {
                const text = event.currentTarget.getAttribute("data-url");
                navigator.clipboard.writeText(text);
            });
        });
    </script>
{% endblock %}
