{% extends 'teampicker/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}

{% block details %}
    <h2>Manage crowds</h2>

    <a id="crowd-create-form" class="btn btn-success" href="{% url 'teampicker:crowd-add' %}">Create crowd</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Num teams</th>
                <th>Num members</th>
            </tr>
        </thead>
        <tbody>
        {% for crowd in object_list %}
            <tr>
                <td><a href="{% url 'teampicker:crowd-detail' crowd.pk %}">{{ crowd.name }}</a></td>
                <td>{{ crowd.created_at }}</td>
                <td>{{ crowd.num_teams }}</td>
                <td>{{ crowd.num_members }}</td>
            </tr>
        {% empty %}
            <tr>
                <td class="text-muted" colspan="5">No crowds</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block extra_javascript %}
{% endblock %}
