{% extends 'teampicker/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}

{% block details %}
    <h2>Create crowd</h2>

    <form id="crowd_form" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button id="crowd-create-save" type="submit" class="btn btn-primary">Save</button>
        <a id="crowd-create-cancel" class="btn btn-secondary" href="{% url 'teampicker:crowd-manage' %}" role="button">
            Cancel
        </a>
    </form>

{% endblock %}
