{% extends 'teampicker/base.html' %}
{% load humanize %}

{% block details %}
    <h2>Join crowd: {{ crowd.name }}</h2>

    <p>You can join a team of the <strong>{{ object.name }}</strong> crowd!</p>

    <a id="crowd-join-team" class="btn btn-success btn-lg" href="{% url 'teampicker:crowd-join-team' object.pk %}">
        Join now
    </a>

    <br>
    <br>

    {% if team_members %}
        <p>You currently have <strong>{{ num_team_members|apnumber }}</strong> team membership{{ num_team_members|pluralize }}:</p>
        <div class="rows">
            <div class="col-md-4">
                <div class="list-group">
                    {% for member in team_members %}
                        <a href="{% url 'teampicker:team-member-delete' member.pk %}" class="list-group-item" title="Leave {{ member.team.name }}">
                            {{ member.team.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="text-muted">Click team to leave</p>
    {% else %}
        <p class="text-warning">You are not member of any team yet.</p>
    {% endif %}


{% endblock %}
