{% extends 'teampicker/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}

{% block details %}
    <h2>My crowds</h2>

    <p>You are currently a member of these crowds:</p>

    <ul>
        {% for crowd in object_list %}
            <li><a href="{{ crowd.my_teams_url }}">{{ crowd.name }}</a></li>
        {% empty %}
            <li class="text-muted">Not joined any teams yet...</li>
        {% endfor %}

    </ul>

{% endblock %}
